* {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}
body {
  display: grid;
  place-items: center;
  height: 100dvh;
  width: 100dvw;
}

span {
  font-weight: 600;
}
